/*********************************
Colmar Academy Capstone Project
Author: Nicholas Chounlapane

Developer Notes:
-Was not able to apply a play button overlay due to time
-rem could of been implemented
********************************/


/* Universal Styles*/

html {
  color: #4A4A4A;
  font-family: 'Open Sans','Georgia', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #4C3737;
}

#mobile_asset {
  display: none;
}

@media only screen and (max-width: 480px) {
  #mobile_asset {
    display: initial;
  }
  #fullsite_asset {
    display: none;
  }
}

/* Header Styles*/

header {
  font-size: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 64px;
}

header a {
  text-decoration: none;
  color: #4A4A4A;
}

header img {
  margin-left: 24px;
  height: 48px;
}

header span {
  font-size: 24px;
}

header ul {
  list-style-type: none;
  display: inline-flex;
  margin-left: auto;
  margin-right: 24px;
}

header ul li {
  margin: 0 16px;
  font-size: 16px;
}

header ul li:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  header ul, header span {
    display: none;
  }
  .header_icons_container {
    display: inline-flex;
    justify-content: space-around;
    margin-right: 24px;
    width: 100%;
  }
}

/* Banner Styles*/

.banner_container {
  display: flex;
  align-items: center;
  background-color: #d8d8d8;
}

.banner_container img {
  margin: 32px 24px;
  width: 58%;
}

.banner_description h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
}

.banner_description h3 {
  font-size: 24px;

}

.banner_description {
  display: inline-flex;
  flex-direction: column;
  word-wrap: break-word;
}

.banner_description span, .banner_description .start_button {
  margin-top: 8px;
  margin-bottom: 8px;
}

.start_button {
  text-align: center;
  padding: 8px 0px;
  background-color: #4a4a4a;
  color: white;
}

.start_button:hover {
  background-color: #7E7E7E;
}

.start_button span {
  padding-top: 8px;
  margin-top: 8px;
}

@media only screen and (max-width: 480px) {
  .banner_container {
    flex-direction: column;
  }
  .banner_container img {
    margin-top: 0px;
    width: 100%;
  }
  .banner_description {
    margin: 32px 16px;
  }
  .banner_description h1 {
    font-size: 48px;
  }
}

/* Main Styles, Thesis Styles*/

.main_container, .thesis_container {
  display: inline-flex;
  justify-content: space-between;
}

.main_description{
  margin: 32px 24px;
  width: 60%;
}

.thesis_description {
  margin: 16px 24px;
  width: 60%;
}

.main_text, .thesis_text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_description img, .video_wrapper video {
  width: 100%;
}

.main_nav {
  width: 40%;
  border-left: 1px solid #E0E2E2;
  padding: 16px 0;
}

.thesis_nav {
  width: 40%;
}

.nav_container {
  display: inline-flex;
  margin-bottom: 16px;
  width: 100%;
}

.nav_container img, .thesis_nav img {
  height: 33%;
  width: 35%;
  margin: 16px 0px 16px 16px;
}

.nav_container .nav_details, .thesis_container .thesis_nav_details {
  width: 65%;
  padding: 45px 0px;
  margin-left: 8px;
  display: inline-flex;
  flex-direction: column;
}

.nav_details a {
  margin-top: 8px;
}

.course_text {
  margin: 4px 0px 24px 16px;
}

.nav_container:hover, .thesis_nav_container:hover {
  background-color: #d8d8d8;
}

.nav_container, .thesis_nav_container {
  transition: background-color .15s ease-in .15s;
}

@media only screen and (max-width: 480px) {
  .main_description {
    display: none;
  }
  .main_nav {
    width: 100%;
  }
  .nav_container {
    flex-direction: column;
  }
  .nav_container img {
    margin: 16px;
    width: 90%;
  }
  .nav_container .nav_details {
    padding: 0px;
    margin: 0 0 32px 16px;
  }
}

/* Learning Styles*/

.learning_header h1, .thesis_header h1 {
  text-align: center;
  padding: 32px 0px;
}

.course_container {
  margin: 0px 72px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course_block {
  width: 31%;
  margin-bottom: 32px;
  background-color: white;
}

.course_block img {
  height: auto;
  width: 100%;
}

.course_text p {
  color: #7E7E7E;
}

#middle_block {
  margin: 0px 32px 32px 32px;
}

.learning_container {
  background-color: #EAEBEC;
  border: 1px solid #EAEBEC;
}

@media only screen and (max-width: 480px) {
  .course_block img, .course_text p{
    display: none;
  }
  .course_container {
    flex-direction: column;
  }

  .learning_header h1{
    margin: 32px 0px 8px 0px;
  }

  .course_container {
    margin: 0 16px 24px 16px;
    width: 92%;
  }

  .course_block {
    margin: 8px 0px 8px 0px;
    width: 100%;
    background-color: #d8d8d8;
  }
  #middle_block {
    margin: 0px;
  }
  .course_block h3 {
    padding: 16px 0px 24px 16px;
  }
}

/* Thesis Styles*/

.thesis_nav_container {
  display: inline-flex;
  margin: 16px 0px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .thesis_nav, .thesis_text {
    display: none;
  }

  .thesis_header h1 {
    margin: 16px 0px 16px 0px;
  }

  .thesis_description {
    width: 100%;
    margin: 0px 0px;
  }
  .thesis_nav_container {
    margin: 0px 0px 24px 0px;
  }
}

/* Footer Styles*/

footer {
  padding: 16px 0px 48px 24px;
  width: 100%;
  display: inline-flex;
  box-sizing: border-box;
  border-top: 1px solid #E0E2E2;
}

.footer_links {
  margin-left: auto;
  margin-right: 16px;
}

.footer_links a {
  color: #4A4A4A;
  padding-left: 16px;
}

@media only screen and (max-width: 480px) {
  .footer_links {
    display: none;
  }

  footer {
    margin: 16px 0px 16px 0px;
    padding: 0px 0px 0px 0px;
  }

}

/* Mobile Styles*/
